.search-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 80%;
}

.searchbar{
    background-color: none;
    border: none;
    outline: none;
}
.search-button{
    background-color: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:968px){
    .search-container{
     padding: 8px;  
    width: 30vw;
    justify-content: space-between;

    }
    .searchbar{
        font-size: 22px;

    }
}