.movie-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

@media screen and (min-width:576px){
    .movie-list{
       
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.loading{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "roboto";
}